.cover__subtitle {
  max-width: 360px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  align-self: center;
  color: #ffffff;
  margin: 32px 0 0 0;
  position: relative;
  z-index: 2;
}

.cover__subtitle:hover ~ .cover__background{
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
   /* margin: 32px auto 115px auto;*/
    margin:32px auto 0;
  }
}
  
@media screen and (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    margin: 16px auto 0;
  }
}