.footer__copyright {
  align-self: center;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-align: right;
  font-weight: normal;
  }
  
@media screen and (max-width: 630px) {
  .footer__copyright {
    align-self: flex-start;
    font-size: 14px;
    line-height: 14px;
  }
}
  



