.place__link {
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #ffffff;
  transition: opacity .6s ease-in;
}
  
.place__link:hover {
  opacity: .8;
}

@media screen and (max-width: 630px) {
  .place__link {
    padding: 0 16px;
  }
}