.cover__overlay{
  margin: 0 auto;
  position: relative;
  max-width: 1184px;
  min-height: 740px;
  width: 100%;
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-decoration: none;
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    min-height: 640px;
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    /*max-width: 1024px;*/
    min-height: 560px;
  }
}

@media screen and (max-width: 580px) {
  .cover__overlay {
    min-height: 200px;
  }
}